# Data Science Tool And Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**objectives:-**

- some of the poplar languages in data scientists
- some of the commanly used libraries used by data scientists
- data science tools used by data scientists
- few example in arithmetic expressions in python 
- This a simple arithmetic expression to multiply then add integers.
- convert 200 minutes to hours by diving by 60.

In [ ]:
Some of the popular languages that Data Scientists use are:

1. Python
2. Java 
3. C++
4. R

In [ ]:
Some of the commonly used libraries used by Data Scientists include:

1. numPy
2. pandas
3. tensorflow
4. Pytorch

In [30]:
data science tools used by data scientists

|DATA SCIENCE TOOLS|
|------------------|
| R studio         |
| tensorflow       |
| apache spark     |

### Below are a few examples of evaluating arithmetic expressions in Python

In [17]:
1+1

2

In [18]:
5*7

35

In [19]:
23*4+5

97

### This a simple arithmetic expression to multiply then add integers.

In [23]:
(3*4)+5

17

### This will convert 200 minutes to hours by diving by 60.

In [29]:
min=200
h=min//60.
m=min%60.
print(h)

3.0

## author

In [ ]:
Prachi gupta